@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.faq-container{
    margin: 100px 0;
}

.question{
    margin: 10px 0;
}
span{
    display: block;
    margin: 30px 0;
}

li{
    margin: 20px 0;
}


/* header */

header{
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid lightgray;

}

header .logo{
    display: flex;
    align-self: center;
}


header .text{
    display: flex;
    align-items: center;
    color: gray;
    font-size:1.4rem;
    margin: 0 5px;
}